<div class= "text-center">
<h3> Here are your favorite teams </h3>



<% @fteam.each do |x, i| %>
 
	<h3> <li> <a class="text-info" href="teams/<%=x.team%>">  <%=x.team %> </a> <small> <a class="text-danger"  href= "favorite/<%= x.team%>" data-method='delete'> Remove
  <input name="_method" value="delete" type="hidden"> </a>  </small> </h3> </li> 
<%end%>
</div>




